button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: medium;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}

#box-logo{
    height: 50px;
    width: 50px;
    /* outline: red solid 1px; */
}
#box-iniciar-juego{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 30vh;
    /* outline: red solid 1px; */
}
#box-agregar-palabra{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 25px;
    /* outline: red solid 1px; */
}

#btn-iniciar-juego{
    padding: 30px 50px 30px 50px;
    border-radius: 24px;
    background-color: #ff9900;
    border: 0;
    color: white;

}
#btn-agregar-palabra{
    padding: 20px 40px 20px 40px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ff9900;
    color: #ff9900;
    font-size: small;
}
/* ------------------------------------- HOVER ------------------------------------------- */
#btn-iniciar-juego:hover{
    padding: 30px 50px 30px 50px;
    border-radius: 24px;
    background-color: white;
    border: 0;
    color: #ff9900;
    border: 1px solid #ff9900;
    transition: background-color .5s;
    cursor: pointer;
}
#btn-agregar-palabra:hover{
    padding: 20px 40px 20px 40px;
    border-radius: 24px;
    background-color: #ff9900;
    border: 0;
    color: white;
    font-size: small;
    transition: background-color .5s;
    cursor: pointer;
}
/* ------------------------------------- FOOTER ------------------------------------------- */
footer{
    background-color: #ff9900;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
h2{
    margin: 0;
    padding: 5px;
    font-size: small;
    color: white;

}